.maverik {
    max-width: 30%;
    float: right;
    margin: 0 7em;
}
header {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;        
}
@media screen and (max-width: 550px) { 
        .home-grid, nav ul, .banner-box {
        display: block;
        }
    } 
h1 {
    background-color: aquamarine
}