@import url('https://fonts.googleapis.com/css?family=Manslava|Fredoka+One');
:root {
 --primary-color: #2E5339;
 --secondary-color: #191D32;
 --paragraph-color: #DADDD8;
 --header-color: #E1CE7A;
}

html {
  background-color: var(--primary-color);
}
 
  header h1, h2, h3, h4, h5, h6 {
    color: var(--header-color);
    background-color: var(--primary-color);
    font-family: "Manslava", Arial, "Times New Roman";
    margin-bottom: -.1em;
  }
  header {
      align-items: center;
      display: flex;  
      align-content: center;
      justify-content: center;
      }
  
  header img {
        max-width: 40%;
        height: auto;
        background-color:white;
      }
  .headings {
    display: flex;
    flex-direction: column;
    }
  .sn {
    margin-bottom: 0;
  }

  .motto {
    margin-top:-.5em;
    margin-left: 1em;
    font: italic;
  }

  header h1 {
      color: var(--header-color);
      padding:.5em;
      margin:.5em;
      font-size: 12pt;
  }
  header h2 {
      color: var(--header-color);
      padding:.5em;
      margin:.5em;
  }
  h1 {
      color: white;
      margin-bottom:auto;
      margin-top:2em;
  }
  nav ul {
      list-style: none; 
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(6em, 1fr)); 
      margin: 0;
  }
  body {
      background-color:var(--primary-color);
      font-family: "Manslava", Helvetica, Sans-serif;
      font-size:18px;
      margin: 2em;
      }

    nav {
      color: #56f051;
      font-size:1.1em;
      padding: 1em;
    }
    
    nav a {
      color: #56f051;
      }
  p {
      color: var(--paragraph-color);
      }
  li {
      color: white;
      }
      .circle {
        background: radial-gradient(circle, transparent 40%, gray 40%);
        border-radius: 100%;
        height: 170px;
        width: 170px;
        justify-items: center;
        margin:30px;
      }
    
    #poc1{
      position:absolute;
      top:30px;
      left: 102px;
    }
    #pic1 {
      position:absolute;
      top:61px;
      left: 102px;
    }
    #poc2 {
      position:absolute;
      top:55px;
      left: 175px;
    }
    #pic2 {
      position:absolute;
      top:72px;
      left: 142px;
    }
    #poc3 {
       position:absolute;
      top: 86px;
      left: 195px;
    }
    #pic3 {
      position:absolute;
      top: 97px;
      left: 162px;
    }
    #poc4 {
      position:absolute;
      top:125px;
      left: 200px;
    }
    #pic4 {
      position:absolute;
      top:125px;
      left: 168px;
    }
    #poc5 {
      position:absolute;
      top:160px;
      left: 195px;
    }
    #pic5 {
      position:absolute;
      top:153px;
      left: 162px;
    }
    #poc6 {
      position:absolute;
      top:200px;
      left: 175px;
    }
    #pic6 {
      position:absolute;
      top:178px;
      left: 140px;
    }
    #poc7 {
      position:absolute;
      top:220px;
      left: 102px;
    }
    #pic7 {
      position:absolute;
      top:189px;
      left: 102px;
    }
    #poc8 {
      position:absolute;
      top:200px;
      left: 30px;
    }
    #pic8 {
      position:absolute;
      top:178px;
      left: 64px;
    }
    #poc9 {
      position:absolute;
      top:160px;
      left: 8px;
    }
    #pic9 {
      position:absolute;
      top:153px;
      left: 42px;
    }
    #poc10 {
      position:absolute;
      top:125px;
      left: 0%;
    }
    #pic10 {
      position:absolute;
      top:125px;
      left:36px;
    }
    #poc11 {
       position:absolute;
      top: 86px;
      left: 8px;
    }
    #pic11 {
      position:absolute;
      top: 97px;
      left: 41px;
    }
    #poc12 {
      position:absolute;
      top:55px;
      left: 30px;
    }
    #pic12 {
      position:absolute;
      top:72px;
      left: 60px;
    }
    
    #pmid {
      position:absolute;
      top:125px;
      left: 102px;
    }
    
    #pdot {
      position:absolute;
      top:61px;
      left: 102px;
      width: 35px;
      height: 35px;
      border-radius: 100%;
      background-color: orangered;
    }
    
    #toc1{
      position:absolute;
      top:30px;
      left: 102px;
    }
    #tic1 {
      position:absolute;
      top:61px;
      left: 102px;
    }
    #toc2 {
      position:absolute;
      top:55px;
      left: 175px;
    }
    #tic2 {
      position:absolute;
      top:72px;
      left: 142px;
    }
    #toc3 {
       position:absolute;
      top: 86px;
      left: 195px;
    }
    #tic3 {
      position:absolute;
      top: 97px;
      left: 162px;
    }
    #toc4 {
      position:absolute;
      top:125px;
      left: 200px;
    }
    #tic4 {
      position:absolute;
      top:125px;
      left: 168px;
    }
    #toc5 {
      position:absolute;
      top:160px;
      left: 195px;
    }
    #tic5 {
      position:absolute;
      top:153px;
      left: 162px;
    }
    #toc6 {
      position:absolute;
      top:200px;
      left: 175px;
    }
    #tic6 {
      position:absolute;
      top:178px;
      left: 140px;
    }
    #toc7 {
      position:absolute;
      top:220px;
      left: 102px;
    }
    #tic7 {
      position:absolute;
      top:189px;
      left: 102px;
    }
    #toc8 {
      position:absolute;
      top:200px;
      left: 30px;
    }
    #tic8 {
      position:absolute;
      top:178px;
      left: 64px;
    }
    #toc9 {
      position:absolute;
      top:160px;
      left: 8px;
    }
    #tic9 {
      position:absolute;
      top:153px;
      left: 42px;
    }
    #toc10 {
      position:absolute;
      top:125px;
      left: 0%;
    }
    #tic10 {
      position:absolute;
      top:125px;
      left:36px;
    }
    #toc11 {
       position:absolute;
      top: 86px;
      left: 8px;
    }
    #tic11 {
      position:absolute;
      top: 97px;
      left: 41px;
    }
    #toc12 {
      position:absolute;
      top:55px;
      left: 30px;
    }
    #tic12 {
      position:absolute;
      top:72px;
      left: 60px;
    }
    
    #tmid {
      position:absolute;
      top:125px;
      left: 102px;
    }
    
    #tdot {
      position:absolute;
      top:61px;
      left: 102px;
      width: 35px;
      height: 35px;
      border-radius: 100%;
      background-color: orangered;
    }
    
    #foc1{
      position:absolute;
      top:30px;
      left: 102px;
    }
    #fic1 {
      position:absolute;
      top:61px;
      left: 102px;
    }
    #foc2 {
      position:absolute;
      top:55px;
      left: 175px;
    }
    #fic2 {
      position:absolute;
      top:72px;
      left: 142px;
    }
    #foc3 {
       position:absolute;
      top: 86px;
      left: 195px;
    }
    #fic3 {
      position:absolute;
      top: 97px;
      left: 162px;
    }
    #foc4 {
      position:absolute;
      top:125px;
      left: 200px;
    }
    #fic4 {
      position:absolute;
      top:125px;
      left: 168px;
    }
    #foc5 {
      position:absolute;
      top:160px;
      left: 195px;
    }
    #fic5 {
      position:absolute;
      top:153px;
      left: 162px;
    }
    #foc6 {
      position:absolute;
      top:200px;
      left: 175px;
    }
    #fic6 {
      position:absolute;
      top:178px;
      left: 140px;
    }
    #foc7 {
      position:absolute;
      top:220px;
      left: 102px;
    }
    #fic7 {
      position:absolute;
      top:189px;
      left: 102px;
    }
    #foc8 {
      position:absolute;
      top:200px;
      left: 30px;
    }
    #fic8 {
      position:absolute;
      top:178px;
      left: 64px;
    }
    #foc9 {
      position:absolute;
      top:160px;
      left: 8px;
    }
    #fic9 {
      position:absolute;
      top:153px;
      left: 42px;
    }
    #foc10 {
      position:absolute;
      top:125px;
      left: 0%;
    }
    #fic10 {
      position:absolute;
      top:125px;
      left:36px;
    }
    #foc11 {
       position:absolute;
      top: 86px;
      left: 8px;
    }
    #fic11 {
      position:absolute;
      top: 97px;
      left: 41px;
    }
    #foc12 {
      position:absolute;
      top:55px;
      left: 30px;
    }
    #fic12 {
      position:absolute;
      top:72px;
      left: 60px;
    }
    
    #fmid {
      position:absolute;
      top:125px;
      left: 102px;
    }
    
    #fdot {
      position:absolute;
      top:61px;
      left: 102px;
      width: 35px;
      height: 35px;
      border-radius: 100%;
      background-color: orangered;
    }