:root {
 --primary-color: #2E5339;
 --secondary-color: #191D32;
 --paragraph-color: #DADDD8;
 --header-color: #E1CE7A;
}

html {
  background-color: var(--primary-color);
}
 
  header h1, h2, h4, h5, h6 {
    color: var(--header-color);
    background-color: var(--primary-color);
    font-family: "Manslava", Arial, "Times New Roman";
    margin-bottom: -.1em;
  }
  h3 {
    background-color: white;
    color: black;
    text-align: center;
  }
  header {
      align-items: center;
      display: flex;  
      flex-direction: row;
      align-content: center;
      justify-content: center;
      }
  
  header img {
        max-width: 40%;
        padding:1em;
        height: auto;
        background-color:white;
      }
  .headings {
    display: flex;
    flex-direction: column;
    text-align:center;
    }
  .sn {
    margin-bottom: 0;
  }

  .motto {
    margin-top:-.5em;
    margin-left: 1em;
    font: italic;
  }

  header h1 {
      color: var(--header-color);
      padding:.5em;
      margin:.5em;
      font-size: 12pt;
  }
  header h2 {
      color: var(--header-color);
      padding:.5em;
      margin:.5em;
  }
  h1 {
      color: white;
      margin-bottom:auto;
  }
  nav ul {
        list-style: none; 
        display: flex;
        align-items: stretch; /* Default */
        justify-content: space-between;
        width: 100%;
        background: var(--primary-color);
        margin: 0;
        padding: 0;
  }
  /*li {
        display: block;
        flex: 0 1 auto;  Default 
        list-style-type: none;
        background: none;
    }*/
  body {
      background-color:var(--primary-color);
      font-family: "Manslava", Helvetica, Sans-serif;
      font-size:18px;
      margin: 2em;
      }

    nav {
      color: #56f051;
      font-size:1.1em;
      padding: 1em;
    }
    
    nav a {
      color: #56f051;
      }
  p {
      color: var(--paragraph-color);
      }
      
    
    #forecast {
      width: 300px;
      height: 300px;
      max-width: 300px;
      margin: 0 auto;
      background-color: white;
      position: relative;
      grid-column: 1;
      grid-row: 4;
      border: 3px black solid;
    }
    #precipitation {
      width: 300px;
      max-width: 300px;
      height: 300px;
      margin: 0 auto;
      position: relative;
      grid-column: 2;
      grid-row: 4;
      background-color: white;
      border: 3px black solid;
    }
    #temperature {
      width: 300px;
      max-width: 300px;
      height: 300px;
      margin: 0 auto;
      position: relative;
      grid-column: 3;
      grid-row: 4;
      background-color: white;
      border: 3px black solid;
    }
    
    .circle {
        background: radial-gradient(circle, transparent 40%, gray 40%);
        border-radius: 100%;
        height: 170px;
        width: 170px;
        position: absolute;
        margin:0;
        top: 65px;
        left: 65px;
        z-index: 1;
        
    }
    
    .oc1{
      position:absolute;
      top:45px;
      left: 136px;
    }
    .ic1 {
      position:absolute;
      top:11px;
      left: 80px;
      z-index: 2;
    }
    .oc2 {
      position:absolute;
      top:59px;
      left: 190px;
    }
    .ic2 {
      position:absolute;
      top:21px;
      left: 114px;
      z-index: 2;
    }
    .oc3 {
      position:absolute;
      top:95px;
      left: 224px;
    }
    .ic3 {
      position:absolute;
      top: 44px;
      left: 138px;
      z-index: 2;
    }
    .oc4 {
      position:absolute;
      top:140px;
      left: 235px;
    }
    .ic4 {
      position:absolute;
      top: 75px;
      left: 144px;
      z-index: 2;
    }
    .oc5 {
      position:absolute;
      top:185px;
      left: 224px;
    }
    .ic5 {
      position:absolute;
      top:109px;
      left: 138px;
      z-index: 2;
    }
    .oc6 {
      position:absolute;
      top:224px;
      left: 190px;
    }
    .ic6 {
      position:absolute;
      top:132px;
      left: 114px;
      z-index: 2;
    }
    .oc7 {
      position:absolute;
      top:235px;
      left: 136px;
    }
    .ic7 {
      position:absolute;
      top:142px;
      left: 80px;
      z-index: 2;
    }
    .oc8 {
      position:absolute;
      top:224px;
      left: 85px;
    }
    .ic8 {
      position:absolute;
      top:132px;
      left: 48px;
      z-index: 2;
    }
    .oc9 {
      position:absolute;
      top:185px;
      left: 42px;
    }
    .ic9 {
      position:absolute;
      top:109px;
      left: 22px;
      z-index: 2;
    }
    .oc10 {
      position:absolute;
      top:140px;
      left: 35px;
    }
    .ic10 {
      position:absolute;
      top: 75px;
      left: 10px;
      z-index: 2;
    }
    .oc11 {
      position:absolute;
      top:95px;
      left: 42px;
    }
    .ic11 {
      position:absolute;
      top: 44px;
      left: 17px;
      z-index: 2;
    }
    .oc12 {
      position:absolute;
      top:59px;
      left: 80px;
    }
    .ic12 {
      position:absolute;
      top:21px;
      left: 39px;
      z-index: 2;
    }
    
    .mid {
      position:absolute;
      top:35px;
      left:60px;
    }
    
    .dot {
      position:absolute;
      top:1px;
      left: 68px;
      width: 35px;
      height: 35px;
      border-radius: 100%;
      background-color: orangered;
      z-index: 3;
    }

    #prep {
      font-size: 70px;
    }
    #tmp {
      font-size: 55px;
      
    }
  #boxes {
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
 